example n8n workflows/Nobel_Propagate_Spaces_Property_DEQEhiQvhuNQZPjR.json
{
  "id": "DEQEhiQvhuNQZPjR",
  "name": "Nobel \u2014 Propagate Spaces Property (Clash \u2192 Patch)",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "modelA_s3_key"
            },
            {
              "name": "modelB_s3_key"
            },
            {
              "name": "mappings"
            },
            {
              "name": "property_from"
            },
            {
              "name": "property_to"
            },
            {
              "name": "output_s3_key"
            },
            {
              "name": "tolerance",
              "type": "number"
            },
            {
              "name": "clash_mode"
            },
            {
              "name": "space_selector"
            },
            {
              "name": "element_selector"
            },
            {
              "name": "data_type"
            },
            {
              "name": "aggregate"
            },
            {
              "name": "default_value"
            },
            {
              "name": "pairs_source_side"
            },
            {
              "name": "sort_by"
            },
            {
              "name": "sort_order"
            },
            {
              "name": "modelB_s3_version_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        304
      ],
      "name": "Start",
      "id": "start"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ ({\n  modelA_s3_key: $json.modelA_s3_key,\n  modelB_s3_key: $json.modelB_s3_key,\n  modelB_s3_version_id: $json.modelB_s3_version_id,\n  mappings: JSON.stringify((() => {\n    const raw = (typeof $json.mappings === 'string'\n      ? $json.mappings\n      : JSON.stringify($json.mappings || [])).replace(/^\\s*$/, '[]');\n    let parsed;\n    try { parsed = JSON.parse(raw); } catch (e) { parsed = []; }\n    let arr = Array.isArray(parsed)\n      ? parsed\n      : (parsed && Array.isArray(parsed.mappings) ? parsed.mappings : []);\n    if (!arr.length && $json.property_from && $json.property_to) {\n      arr = [{ from: $json.property_from, to: $json.property_to }];\n    }\n    return arr;\n  })()),\n  pairs_source_side: $json.pairs_source_side || 'auto',\n  tolerance: $json.tolerance != null && $json.tolerance !== '' ? Number($json.tolerance) : 0.01,\n  clash_mode: $json.clash_mode || 'intersection',\n  space_selector: $json.space_selector || 'IfcSpace',\n  element_selector: $json.element_selector || '',\n  data_type: $json.data_type || '',\n  aggregate: $json.aggregate || 'first',\n  default_value: $json.default_value || '',\n  clash_output_filename: 'propagate_' + (\n    ($json.modelB_s3_key || 'clash').toString().split('/').pop().split('.')[0]\n  ) + '_clash.json',\n  patch_output_file: $json.output_s3_key || (\n    'propagated_' + (($json.modelB_s3_key || 'patch').toString().split('/').pop())\n  ),\n  sort_by: $json.sort_by || '',\n  sort_order: $json.sort_order || 'asc',\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        304
      ],
      "name": "Resolve Inputs",
      "id": "resolve-inputs"
    },
    {
      "parameters": {
        "clashSetName": "spaces_to_elements",
        "outputFilename": "={{ $json.clash_output_filename }}",
        "groupAFiles": {
          "files": [
            {
              "file": "={{ $json.modelA_s3_key }}",
              "selector": "={{ $json.space_selector }}",
              "mode": "i"
            }
          ]
        },
        "groupBFiles": {
          "files": [
            {
              "file": "={{ $json.modelB_s3_key }}",
              "selector": "={{ $json.element_selector }}",
              "mode": "={{ $json.element_selector ? 'i' : 'a' }}"
            }
          ]
        },
        "options": {
          "mode": "={{ $json.clash_mode }}",
          "tolerance": "={{ $json.tolerance }}"
        },
        "timeout": 1200,
        "versionPinning": {
          "inputVersionIdsUi": {
            "pins": [
              {
                "key": "={{ $json.modelB_s3_key }}",
                "versionId": "={{ $json.modelB_s3_version_id }}"
              }
            ]
          }
        },
        "operation": "detectClashes",
        "waitForCompletion": true,
        "executionMode": "parallel",
        "maxRetriesPerJob": 3,
        "retryDelaySeconds": 5,
        "pollingInterval": 2,
        "maxConcurrency": 2
      },
      "type": "n8n-nodes-ifcpipeline.ifcClash",
      "typeVersion": 1,
      "position": [
        688,
        304
      ],
      "name": "IFC Clash (Spaces vs Model B)",
      "id": "ifc-clash-spaces-vs-model-b",
      "credentials": {
        "ifcPipelineApi": {
          "id": "HegPhb3qE1FTgAYI",
          "name": "IFC Pipeline account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ ({\n  modelA_s3_key: $('Resolve Inputs').item.json.modelA_s3_key,\n  modelB_s3_key: $('Resolve Inputs').item.json.modelB_s3_key,\n  modelB_s3_version_id: $('Resolve Inputs').item.json.modelB_s3_version_id,\n  mappings: $('Resolve Inputs').item.json.mappings,\n  pairs_source_side: $('Resolve Inputs').item.json.pairs_source_side,\n  data_type: $('Resolve Inputs').item.json.data_type,\n  default_value: $('Resolve Inputs').item.json.default_value,\n  aggregate: $('Resolve Inputs').item.json.aggregate,\n  clash_output_key: ($json.result && $json.result.output_key) || $json.output_key || '',\n  clash_output_path: ($json.result && $json.result.output_path) || $json.output_path || '',\n  clash_count: ($json.result && $json.result.clash_count) || $json.clash_count || 0,\n  patch_output_file: $('Resolve Inputs').item.json.patch_output_file,\n  sort_by: $('Resolve Inputs').item.json.sort_by,\n  sort_order: $('Resolve Inputs').item.json.sort_order,\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        288
      ],
      "name": "Build Patch Args",
      "id": "build-patch-args"
    },
    {
      "parameters": {
        "inputFile": "={{ $json.modelB_s3_key }}",
        "outputFile": "={{ $json.patch_output_file }}",
        "recipeName": "PropagatePropertyFromClashPairs",
        "argumentsUi": {
          "argumentValues": [
            {
              "value": "={{ $json.modelA_s3_key }}"
            },
            {
              "value": "={{ $json.clash_output_key || $json.clash_output_path }}"
            },
            {
              "value": "={{ ' ' }}"
            },
            {
              "value": "={{ ' ' }}"
            },
            {
              "value": "={{ $json.data_type || ' ' }}"
            },
            {
              "value": "={{ $json.default_value || ' ' }}"
            },
            {
              "value": "={{ $json.aggregate || ' ' }}"
            },
            {
              "value": "={{ $json.pairs_source_side || ' ' }}"
            },
            {
              "value": "={{ $json.mappings || ' ' }}"
            },
            {
              "value": "={{ $json.sort_by || ' ' }}"
            },
            {
              "value": "={{ $json.sort_order || ' ' }}"
            }
          ]
        },
        "timeout": 1200,
        "versionPinning": {
          "inputVersionId": "={{ $json.modelB_s3_version_id}}"
        },
        "waitForCompletion": true,
        "executionMode": "parallel",
        "maxRetriesPerJob": 3,
        "retryDelaySeconds": 5,
        "pollingInterval": 2,
        "maxConcurrency": 2
      },
      "type": "n8n-nodes-ifcpipeline.ifcPatch",
      "typeVersion": 1,
      "position": [
        1200,
        288
      ],
      "name": "IFC Patch (Propagate)",
      "id": "ifc-patch-propagate",
      "credentials": {
        "ifcPipelineApi": {
          "id": "HegPhb3qE1FTgAYI",
          "name": "IFC Pipeline account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{\n  {\n    success: $json.status === 'finished' || !!$json.result?.success,\n    result: {\n      output_key: $json.result?.output_key || $json.output_key || '',\n      output_path: $json.result?.output_path || $json.output_path || '',\n      version_id: $json.result?.version_id || $json.version_id || '',\n      size_bytes: $json.result?.size_bytes || $json.size_bytes || null,\n      storage: $json.result?.storage || $json.storage || null,\n      bucket: $json.result?.bucket || $json.bucket || null\n    },\n    patched_output_key: $json.result?.output_key || $json.output_key || '',\n    patched_output_path: $json.result?.output_path || $json.output_path || '',\n    clash_output_key: $('Build Patch Args').item.json.clash_output_key,\n    clash_output_path: $('Build Patch Args').item.json.clash_output_path,\n    clash_count: $('Build Patch Args').item.json.clash_count,\n    property_from: $('Resolve Inputs').item.json.property_from,\n    property_to: $('Resolve Inputs').item.json.property_to,\n    modelA_s3_key: $('Resolve Inputs').item.json.modelA_s3_key,\n    modelB_s3_key: $('Resolve Inputs').item.json.modelB_s3_key\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1776,
        352
      ],
      "name": "Return",
      "id": "return"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wVG7yrtD2xHCjvht",
          "mode": "list",
          "cachedResultUrl": "/workflow/wVG7yrtD2xHCjvht",
          "cachedResultName": "Teams Error"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        896,
        400
      ],
      "id": "4eaea0b9-330d-4815-a874-bec89b623193",
      "name": "Call 'Teams Error'"
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Resolve Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Inputs": {
      "main": [
        [
          {
            "node": "IFC Clash (Spaces vs Model B)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IFC Clash (Spaces vs Model B)": {
      "main": [
        [
          {
            "node": "Build Patch Args",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Teams Error'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Patch Args": {
      "main": [
        [
          {
            "node": "IFC Patch (Propagate)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IFC Patch (Propagate)": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "saveDataSuccessExecution": "all",
    "binaryMode": "separate"
  },
  "staticData": {}
}