example n8n workflows/Revit PowerShell Job Runner.json
{
  "name": "Revit PowerShell Job Runner",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-200, 300],
      "id": "b0000001-0000-0000-0000-000000000001",
      "name": "Run manually"
    },
    {
      "parameters": {
        "content": "# PowerShell Job Runner\nRuns a PowerShell script on the Windows machine via the Revit worker queue.\n\nUseful for:\n- Pre/post-processing around Revit (copy files, clean temp, robocopy)\n- System administration tasks\n- Batch file operations on UNC paths\n\n**Setup:**\n1. Edit the **Config** node with your script path and arguments.\n2. Set `api_url` and `api_key`.\n3. Ensure the RQ worker is running on Windows.",
        "width": 520,
        "height": 240,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-220, 0],
      "id": "b0000001-0000-0000-0000-000000000020",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-api-url",
              "name": "api_url",
              "value": "http://api-gateway",
              "type": "string"
            },
            {
              "id": "cfg-api-key",
              "name": "api_key",
              "value": "YOUR_API_KEY",
              "type": "string"
            },
            {
              "id": "cfg-command-type",
              "name": "command_type",
              "value": "powershell",
              "type": "string"
            },
            {
              "id": "cfg-script-path",
              "name": "script_path",
              "value": "C:\\Scripts\\copy_models.ps1",
              "type": "string"
            },
            {
              "id": "cfg-args",
              "name": "arguments",
              "value": "[\"-Source\", \"\\\\\\\\fileserver\\\\Projects\\\\Models\", \"-Dest\", \"C:\\\\Temp\\\\Models\"]",
              "type": "string"
            },
            {
              "id": "cfg-timeout",
              "name": "timeout_seconds",
              "value": "600",
              "type": "number"
            },
            {
              "id": "cfg-working-dir",
              "name": "working_directory",
              "value": "C:\\Temp",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [0, 300],
      "id": "b0000001-0000-0000-0000-000000000002",
      "name": "Config"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.api_url }}/revit/execute",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $json.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"command_type\": \"{{ $json.command_type }}\",\n  \"script_path\": \"{{ $json.script_path }}\",\n  \"arguments\": {{ $json.arguments }},\n  \"timeout_seconds\": {{ $json.timeout_seconds }},\n  \"working_directory\": \"{{ $json.working_directory }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 300],
      "id": "b0000001-0000-0000-0000-000000000003",
      "name": "Submit PowerShell Job"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "pass-job-id",
              "name": "job_id",
              "value": "={{ $json.job_id }}",
              "type": "string"
            },
            {
              "id": "pass-api-url",
              "name": "api_url",
              "value": "={{ $('Config').item.json.api_url }}",
              "type": "string"
            },
            {
              "id": "pass-api-key",
              "name": "api_key",
              "value": "={{ $('Config').item.json.api_key }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [440, 300],
      "id": "b0000001-0000-0000-0000-000000000004",
      "name": "Pass Job ID"
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [660, 300],
      "id": "b0000001-0000-0000-0000-000000000005",
      "name": "Wait 5s",
      "webhookId": "b0000002-0000-0000-0000-000000000005"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.api_url }}/jobs/{{ $json.job_id }}/status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $json.api_key }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 300],
      "id": "b0000001-0000-0000-0000-000000000006",
      "name": "Poll Job Status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-finished",
              "leftValue": "={{ $json.status }}",
              "rightValue": "finished",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1100, 300],
      "id": "b0000001-0000-0000-0000-000000000007",
      "name": "Finished?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-failed",
              "leftValue": "={{ $json.status }}",
              "rightValue": "failed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1320, 460],
      "id": "b0000001-0000-0000-0000-000000000008",
      "name": "Failed?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "keep-job-id",
              "name": "job_id",
              "value": "={{ $json.job_id }}",
              "type": "string"
            },
            {
              "id": "keep-api-url",
              "name": "api_url",
              "value": "={{ $('Config').item.json.api_url }}",
              "type": "string"
            },
            {
              "id": "keep-api-key",
              "name": "api_key",
              "value": "={{ $('Config').item.json.api_key }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1540, 620],
      "id": "b0000001-0000-0000-0000-000000000009",
      "name": "Loop Back"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "res-status",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "res-success",
              "name": "success",
              "value": "={{ $json.result.success }}",
              "type": "boolean"
            },
            {
              "id": "res-exit-code",
              "name": "exit_code",
              "value": "={{ $json.result.exit_code }}",
              "type": "number"
            },
            {
              "id": "res-stdout",
              "name": "stdout",
              "value": "={{ $json.result.stdout }}",
              "type": "string"
            },
            {
              "id": "res-stderr",
              "name": "stderr",
              "value": "={{ $json.result.stderr }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1320, 140],
      "id": "b0000001-0000-0000-0000-000000000010",
      "name": "Job Succeeded"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "err-status",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "err-error",
              "name": "error",
              "value": "={{ $json.error }}",
              "type": "string"
            },
            {
              "id": "err-job-id",
              "name": "job_id",
              "value": "={{ $json.job_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1540, 300],
      "id": "b0000001-0000-0000-0000-000000000011",
      "name": "Job Failed"
    }
  ],
  "connections": {
    "Run manually": {
      "main": [[{"node": "Config", "type": "main", "index": 0}]]
    },
    "Config": {
      "main": [[{"node": "Submit PowerShell Job", "type": "main", "index": 0}]]
    },
    "Submit PowerShell Job": {
      "main": [[{"node": "Pass Job ID", "type": "main", "index": 0}]]
    },
    "Pass Job ID": {
      "main": [[{"node": "Wait 5s", "type": "main", "index": 0}]]
    },
    "Wait 5s": {
      "main": [[{"node": "Poll Job Status", "type": "main", "index": 0}]]
    },
    "Poll Job Status": {
      "main": [[{"node": "Finished?", "type": "main", "index": 0}]]
    },
    "Finished?": {
      "main": [
        [{"node": "Job Succeeded", "type": "main", "index": 0}],
        [{"node": "Failed?", "type": "main", "index": 0}]
      ]
    },
    "Failed?": {
      "main": [
        [{"node": "Job Failed", "type": "main", "index": 0}],
        [{"node": "Loop Back", "type": "main", "index": 0}]
      ]
    },
    "Loop Back": {
      "main": [[{"node": "Wait 5s", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "tags": [],
  "triggerCount": 0
}
