example n8n workflows/RTV Xporter Pro Job Runner.json
{
  "name": "RTV Xporter Pro Job Runner",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-200, 300],
      "id": "c0000001-0000-0000-0000-000000000001",
      "name": "Run manually"
    },
    {
      "parameters": {
        "content": "# RTV Xporter Pro Job Runner\nRuns an RTV Tools batch export on the Windows machine via the Revit worker queue.\n\n`script_path` points to the `Run-RTVXporterBatch.ps1` wrapper script.\n`batch_file` points to the `.rbxml` batch definition.\n\nThe wrapper creates a temp Schedule XML and calls `RTVXporterProStartRevit.exe`.\n\n**Setup:**\n1. Edit the **Config** node with the wrapper script path and batch file.\n2. Set `api_url` and `api_key`.\n3. Ensure the RQ worker is running on Windows.",
        "width": 540,
        "height": 260,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-220, -20],
      "id": "c0000001-0000-0000-0000-000000000020",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-api-url",
              "name": "api_url",
              "value": "http://api-gateway",
              "type": "string"
            },
            {
              "id": "cfg-api-key",
              "name": "api_key",
              "value": "YOUR_API_KEY",
              "type": "string"
            },
            {
              "id": "cfg-script-path",
              "name": "script_path",
              "value": "\\\\bim-wsp1.hogerklick.bim\\Trelleborg\\INTERAXO\\04. Etapp C Huvudbyggnad\\A\\Batch\\Run-RTVXporterBatch.ps1",
              "type": "string"
            },
            {
              "id": "cfg-batch-file",
              "name": "batch_file",
              "value": "\\\\bim-wsp1.hogerklick.bim\\Trelleborg\\INTERAXO\\04. Etapp C Huvudbyggnad\\A\\Batch\\Batch_A_007.rbxml",
              "type": "string"
            },
            {
              "id": "cfg-timeout",
              "name": "timeout_seconds",
              "value": "7200",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [0, 300],
      "id": "c0000001-0000-0000-0000-000000000002",
      "name": "Config"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.api_url }}/revit/execute",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $json.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"command_type\": \"rtv\",\n  \"script_path\": \"{{ $json.script_path }}\",\n  \"batch_file\": \"{{ $json.batch_file }}\",\n  \"timeout_seconds\": {{ $json.timeout_seconds }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 300],
      "id": "c0000001-0000-0000-0000-000000000003",
      "name": "Submit RTV Job"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "pass-job-id",
              "name": "job_id",
              "value": "={{ $json.job_id }}",
              "type": "string"
            },
            {
              "id": "pass-api-url",
              "name": "api_url",
              "value": "={{ $('Config').item.json.api_url }}",
              "type": "string"
            },
            {
              "id": "pass-api-key",
              "name": "api_key",
              "value": "={{ $('Config').item.json.api_key }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [440, 300],
      "id": "c0000001-0000-0000-0000-000000000004",
      "name": "Pass Job ID"
    },
    {
      "parameters": {
        "amount": 15,
        "unit": "seconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [660, 300],
      "id": "c0000001-0000-0000-0000-000000000005",
      "name": "Wait 15s",
      "webhookId": "c0000002-0000-0000-0000-000000000005"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.api_url }}/jobs/{{ $json.job_id }}/status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $json.api_key }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 300],
      "id": "c0000001-0000-0000-0000-000000000006",
      "name": "Poll Job Status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-finished",
              "leftValue": "={{ $json.status }}",
              "rightValue": "finished",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1100, 300],
      "id": "c0000001-0000-0000-0000-000000000007",
      "name": "Finished?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-failed",
              "leftValue": "={{ $json.status }}",
              "rightValue": "failed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1320, 460],
      "id": "c0000001-0000-0000-0000-000000000008",
      "name": "Failed?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "keep-job-id",
              "name": "job_id",
              "value": "={{ $json.job_id }}",
              "type": "string"
            },
            {
              "id": "keep-api-url",
              "name": "api_url",
              "value": "={{ $('Config').item.json.api_url }}",
              "type": "string"
            },
            {
              "id": "keep-api-key",
              "name": "api_key",
              "value": "={{ $('Config').item.json.api_key }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1540, 620],
      "id": "c0000001-0000-0000-0000-000000000009",
      "name": "Loop Back"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "res-status",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "res-success",
              "name": "success",
              "value": "={{ $json.result.success }}",
              "type": "boolean"
            },
            {
              "id": "res-exit-code",
              "name": "exit_code",
              "value": "={{ $json.result.exit_code }}",
              "type": "number"
            },
            {
              "id": "res-stdout",
              "name": "stdout",
              "value": "={{ $json.result.stdout }}",
              "type": "string"
            },
            {
              "id": "res-stderr",
              "name": "stderr",
              "value": "={{ $json.result.stderr }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1320, 140],
      "id": "c0000001-0000-0000-0000-000000000010",
      "name": "Job Succeeded"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "err-status",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "err-error",
              "name": "error",
              "value": "={{ $json.error }}",
              "type": "string"
            },
            {
              "id": "err-job-id",
              "name": "job_id",
              "value": "={{ $json.job_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1540, 300],
      "id": "c0000001-0000-0000-0000-000000000011",
      "name": "Job Failed"
    }
  ],
  "connections": {
    "Run manually": {
      "main": [[{"node": "Config", "type": "main", "index": 0}]]
    },
    "Config": {
      "main": [[{"node": "Submit RTV Job", "type": "main", "index": 0}]]
    },
    "Submit RTV Job": {
      "main": [[{"node": "Pass Job ID", "type": "main", "index": 0}]]
    },
    "Pass Job ID": {
      "main": [[{"node": "Wait 15s", "type": "main", "index": 0}]]
    },
    "Wait 15s": {
      "main": [[{"node": "Poll Job Status", "type": "main", "index": 0}]]
    },
    "Poll Job Status": {
      "main": [[{"node": "Finished?", "type": "main", "index": 0}]]
    },
    "Finished?": {
      "main": [
        [{"node": "Job Succeeded", "type": "main", "index": 0}],
        [{"node": "Failed?", "type": "main", "index": 0}]
      ]
    },
    "Failed?": {
      "main": [
        [{"node": "Job Failed", "type": "main", "index": 0}],
        [{"node": "Loop Back", "type": "main", "index": 0}]
      ]
    },
    "Loop Back": {
      "main": [[{"node": "Wait 15s", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "tags": [],
  "triggerCount": 0
}
