example n8n workflows/StreamBIM_Register_IFC_Files_subflow.template.json
{
  "name": "StreamBIM: Register IFC Files",
  "nodes": [
    {
      "id": "34f4c0bd-067c-494f-9a8f-43c510c38108",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        400,
        400
      ],
      "parameters": {
        "inputSource": "workflowInputs",
        "workflowInputs": {
          "values": [
            {
              "name": "projectId",
              "type": "string"
            },
            {
              "name": "buildingId",
              "type": "string"
            },
            {
              "name": "processedFilenames",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "da69f3d3-f51e-40af-bdcc-81a82e2405cf",
      "name": "Defaults",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        620,
        400
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f3f9b59-2dfa-4c8a-b3ea-36f7504a989d",
              "name": "projectId",
              "type": "string",
              "value": "={{ $json.projectId || '13588' }}"
            },
            {
              "id": "da731d87-9f31-465b-860a-00165eb17e01",
              "name": "buildingId",
              "type": "string",
              "value": "={{ $json.buildingId || '1000' }}"
            },
            {
              "id": "5a7da957-2194-43f0-af46-65ebee5ee885",
              "name": "processedFilenames",
              "type": "string",
              "value": "={{ $json.processedFilenames || '' }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a8e92452-0f1a-424a-82d3-3b158ce3c9e7",
      "name": "Set sync wait start",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        840,
        400
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "74a49590-ff7f-44e3-bcee-17049a8c45d6",
              "name": "loopStartMs",
              "type": "number",
              "value": "={{ $now.toMillis() }}"
            },
            {
              "id": "58bb58b5-c692-4da9-9810-5754ce9d892e",
              "name": "projectId",
              "type": "string",
              "value": "={{ $('Defaults').item.json.projectId }}"
            },
            {
              "id": "d439987e-2ef7-4511-92a5-f9b89ce6e81c",
              "name": "buildingId",
              "type": "string",
              "value": "={{ $('Defaults').item.json.buildingId }}"
            },
            {
              "id": "78de72ee-a4c4-4c88-a2a1-be1d2d2b7dd9",
              "name": "processedFilenames",
              "type": "string",
              "value": "={{ $('Defaults').item.json.processedFilenames }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "2d505a7c-30c6-4fd0-a1c1-8a1450897ce0",
      "name": "Get sync activity",
      "type": "CUSTOM.streamBim",
      "typeVersion": 8,
      "position": [
        1060,
        400
      ],
      "parameters": {
        "resource": "sync",
        "projectId": "={{ $('Defaults').item.json.projectId }}",
        "operation": "getSyncActivity"
      },
      "credentials": {
        "streamBimApi": {
          "id": "v1oA21A76m4mWYvK",
          "name": "StreamBIM app account"
        }
      }
    },
    {
      "id": "dc0e3ec7-e583-4f27-adb9-f5c2d525ecf0",
      "name": "Sync still running?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1280,
        400
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "0b01067c-c6cd-4e14-b721-db4aae78dca9",
              "leftValue": "={{ $json['started-at'] }}",
              "rightValue": "",
              "operator": {
                "type": "dateTime",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "5be47f82-0abd-4e53-9d73-9c75081d1a4a",
      "name": "Sync wait timeout?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1500,
        280
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "ca165f78-37ed-4510-9e46-3e4b76c55239",
              "leftValue": "={{ $now.toMillis() - $('Set sync wait start').item.json.loopStartMs }}",
              "rightValue": 1800000,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "19b67041-5792-4de9-9ce1-c84ebc9317c1",
      "name": "Wait for sync",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1720,
        360
      ],
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "webhookId": "2bb8833f-ee3c-463b-9540-dab8a236bc10"
    },
    {
      "id": "6b00b5c5-08ab-4db3-bc4a-57dc1e021a80",
      "name": "Sync timeout summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1720,
        160
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return [{\n  json: {\n    action: 'summary',\n    skipped: true,\n    registered: 0,\n    skippedCount: 0,\n    layersCreated: [],\n    details: [],\n    reason: 'sync_wait_timeout',\n  },\n}];\n"
      }
    },
    {
      "id": "1d0a95fb-1130-4583-b924-0fe4134011e8",
      "name": "Get IFC files",
      "type": "CUSTOM.streamBim",
      "typeVersion": 8,
      "position": [
        1500,
        520
      ],
      "parameters": {
        "resource": "ifcFile",
        "projectId": "={{ $('Set sync wait start').item.json.projectId }}",
        "buildingId": "={{ $('Set sync wait start').item.json.buildingId }}",
        "returnAll": true,
        "operation": "getMany"
      },
      "credentials": {
        "streamBimApi": {
          "id": "v1oA21A76m4mWYvK",
          "name": "StreamBIM app account"
        }
      }
    },
    {
      "id": "6bd95e02-7614-4c38-8795-c1f41a23cef7",
      "name": "Get IFC documents",
      "type": "CUSTOM.streamBim",
      "typeVersion": 8,
      "position": [
        1720,
        520
      ],
      "parameters": {
        "resource": "document",
        "projectId": "={{ $('Set sync wait start').item.json.projectId }}",
        "returnAll": true,
        "filters": {
          "fileExtensions": "ifc",
          "isDeleted": false
        },
        "operation": "getMany"
      },
      "credentials": {
        "streamBimApi": {
          "id": "v1oA21A76m4mWYvK",
          "name": "StreamBIM app account"
        }
      }
    },
    {
      "id": "d5b88580-ab02-4f52-b06a-f3df2b56dcfd",
      "name": "Plan registrations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1940,
        520
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = $input.first()?.json ?? {};\nconst projectId = String(input.projectId ?? '13588').trim();\nconst buildingId = String(input.buildingId ?? '1000').trim();\nlet processedFilenames = input.processedFilenames ?? [];\nif (typeof processedFilenames === 'string') {\n  const raw = processedFilenames.trim();\n  if (raw.startsWith('[')) {\n    try { processedFilenames = JSON.parse(raw); } catch { processedFilenames = raw ? [raw] : []; }\n  } else if (raw.includes(',')) {\n    processedFilenames = raw.split(',').map((s) => s.trim()).filter(Boolean);\n  } else {\n    processedFilenames = raw ? [raw] : [];\n  }\n}\nif (!Array.isArray(processedFilenames)) processedFilenames = [];\n\nconst ifcItems = $('Get IFC files').all().map((i) => i.json);\nconst docItems = $('Get IFC documents').all().map((i) => i.json);\n\nconst linkedDocIds = new Set();\nconst existingLayers = new Set();\nconst markedForDeletionDocIds = new Set();\n\nfor (const row of ifcItems) {\n  const id = String(row.id ?? '');\n  const suffix = id.includes('-') ? id.split('-').slice(1).join('-') : id;\n  if (suffix) linkedDocIds.add(suffix);\n  const attrs = row.attributes ?? {};\n  if (attrs['marked-for-deletion'] === true) {\n    markedForDeletionDocIds.add(suffix);\n  }\n  const layerRaw = String(attrs.layer ?? attrs['active-layer'] ?? '').trim();\n  for (const token of layerRaw.split('~')) {\n    const t = token.trim();\n    if (t) existingLayers.add(t);\n  }\n}\n\nfunction extractPrefix(filename) {\n  const base = String(filename ?? '').trim().split(/[\\\\/]/).pop() ?? '';\n  const noExt = base.replace(/\\.ifc$/i, '');\n  const head = noExt.split('_')[0]?.trim();\n  return head ? head.toUpperCase() : '';\n}\n\nfunction scoreLayerMatch(prefix, layer) {\n  const p = prefix.toUpperCase();\n  const l = String(layer ?? '').toUpperCase();\n  if (!p || !l) return 0;\n  if (p === l) return 100;\n  const lHead = l.split('_')[0];\n  if (p === lHead) return 95;\n  if (l.startsWith(p) || p.startsWith(l)) return 80;\n  if (l.includes(p) || p.includes(l)) return 65;\n  return 0;\n}\n\nfunction pickLayer(prefix, layers) {\n  let best = null;\n  let bestScore = 0;\n  for (const layer of layers) {\n    const score = scoreLayerMatch(prefix, layer);\n    if (score > bestScore) {\n      bestScore = score;\n      best = layer;\n    }\n  }\n  if (bestScore >= 65) return { layer: best, reason: 'matched_existing', newLayer: false };\n  return { layer: prefix, reason: 'new_layer_from_prefix', newLayer: true };\n}\n\nconst scope = new Set(\n  processedFilenames.map((n) => String(n).trim().toLowerCase()).filter(Boolean),\n);\nconst useScope = scope.size > 0;\n\nconst details = [];\nconst creates = [];\nconst layersCreated = new Set();\n\nfor (const doc of docItems) {\n  const documentId = String(doc.id ?? '').trim();\n  const filename = String(doc.attributes?.filename ?? doc.attributes?.name ?? documentId).trim();\n  if (!documentId) continue;\n  if (useScope && !scope.has(filename.toLowerCase())) continue;\n  if (linkedDocIds.has(documentId)) continue;\n  if (markedForDeletionDocIds.has(documentId)) {\n    details.push({ documentId, filename, action: 'skip', reason: 'marked_for_deletion' });\n    continue;\n  }\n  const prefix = extractPrefix(filename);\n  if (!prefix) {\n    details.push({ documentId, filename, action: 'skip', reason: 'no_prefix' });\n    continue;\n  }\n  const pick = pickLayer(prefix, [...existingLayers]);\n  if (pick.newLayer) layersCreated.add(pick.layer);\n  existingLayers.add(pick.layer);\n  linkedDocIds.add(documentId);\n  const row = {\n    action: 'create',\n    projectId,\n    buildingId,\n    documentId,\n    filename,\n    layer: pick.layer,\n    reason: pick.reason,\n  };\n  creates.push(row);\n  details.push(row);\n}\n\nif (creates.length === 0) {\n  return [{\n    json: {\n      action: 'summary',\n      skipped: true,\n      registered: 0,\n      skippedCount: details.filter((d) => d.action === 'skip').length,\n      layersCreated: [],\n      details,\n      projectId,\n      buildingId,\n    },\n  }];\n}\n\nreturn creates.map((row) => ({ json: row }));\n"
      }
    },
    {
      "id": "5c1ad162-f87a-4b6b-852d-37e05e0f771e",
      "name": "Any to create?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2160,
        520
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "a5c98458-86a4-4b0c-a39a-682372ae09d3",
              "leftValue": "={{ $json.action }}",
              "rightValue": "create",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "6d60d515-44b3-4ba0-bf33-feb9d66863bf",
      "name": "Create IFC file",
      "type": "CUSTOM.streamBim",
      "typeVersion": 8,
      "position": [
        2380,
        440
      ],
      "parameters": {
        "resource": "ifcFile",
        "projectId": "={{ $json.projectId }}",
        "buildingId": "={{ $json.buildingId }}",
        "documentId": "={{ $json.documentId }}",
        "layer": "={{ $json.layer }}",
        "markedForDeletion": false,
        "operation": "create"
      },
      "credentials": {
        "streamBimApi": {
          "id": "v1oA21A76m4mWYvK",
          "name": "StreamBIM app account"
        }
      }
    },
    {
      "id": "1d935f89-9707-49f5-896b-c07eedb3d8b3",
      "name": "Build summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2600,
        520
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const planned = $('Plan registrations').all().map((i) => i.json);\nif (planned.length === 1 && planned[0].action === 'summary') {\n  return [{ json: planned[0] }];\n}\nconst timeout = $('Sync timeout summary').all().map((i) => i.json)[0];\nif (timeout?.action === 'summary') {\n  return [{ json: timeout }];\n}\nconst created = $('Create IFC file').all().map((i) => i.json);\nconst creates = planned.filter((p) => p.action === 'create');\nconst layersCreated = [...new Set(creates.filter((p) => p.reason === 'new_layer_from_prefix').map((p) => p.layer))];\nconst details = planned.map((p) => {\n  if (p.action !== 'create') return p;\n  const ok = created.some((c) => String(c.id ?? '').endsWith(`-${p.documentId}`) || String(c.id ?? '') === `${p.buildingId}-${p.documentId}`);\n  return { ...p, action: ok ? 'created' : 'create_failed' };\n});\nreturn [{\n  json: {\n    action: 'summary',\n    skipped: false,\n    registered: creates.length,\n    skippedCount: planned.filter((p) => p.action === 'skip').length,\n    layersCreated,\n    details,\n  },\n}];\n"
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Defaults",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Defaults": {
      "main": [
        [
          {
            "node": "Set sync wait start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set sync wait start": {
      "main": [
        [
          {
            "node": "Get sync activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get sync activity": {
      "main": [
        [
          {
            "node": "Sync still running?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync still running?": {
      "main": [
        [
          {
            "node": "Sync wait timeout?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get IFC files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync wait timeout?": {
      "main": [
        [
          {
            "node": "Sync timeout summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait for sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for sync": {
      "main": [
        [
          {
            "node": "Get sync activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync timeout summary": {
      "main": [
        [
          {
            "node": "Build summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get IFC files": {
      "main": [
        [
          {
            "node": "Get IFC documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get IFC documents": {
      "main": [
        [
          {
            "node": "Plan registrations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Plan registrations": {
      "main": [
        [
          {
            "node": "Any to create?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any to create?": {
      "main": [
        [
          {
            "node": "Create IFC file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create IFC file": {
      "main": [
        [
          {
            "node": "Build summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}