example n8n workflows/Subflow_Ifc_Processing_AzKJShD4IzSeKkso.json
{"updatedAt":"2026-05-29T10:24:29.562Z","createdAt":"2025-10-27T12:18:51.296Z","id":"AzKJShD4IzSeKkso","name":"Subflow: Ifc Processing","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"output_path"},{"name":"name"},{"name":"dedupe_mode"},{"name":"dry_run"},{"name":"files"},{"name":"object_keys"},{"name":"use_database"},{"name":"verbose"},{"name":"version_id"}]}},"id":"3141cbb2-273c-4fdf-9737-d164ad7511b6","name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[3056,2352],"typeVersion":1.1},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"db4311d6-6316-480f-803f-f593a41cb528","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $('Start').item.json.name.startsWith(\"S2\") }}","rightValue":""}],"combinator":"and"},"renameOutput":true,"outputKey":"S2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"f57a48e0-ff6c-4f27-99ef-349f46e20370","leftValue":"={{ $('Start').item.json.name.startsWith(\"P1-500-MM-Complete model\") }}","rightValue":"P1-500-MM-Complete model.ifc","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"P1-500-MM-Complete model"}]},"looseTypeValidation":true,"options":{"fallbackOutput":"extra"}},"id":"ac4bc243-2105-4dd8-af02-4cde95dba03d","name":"Switch","type":"n8n-nodes-base.switch","position":[4400,2000],"typeVersion":3.3},{"parameters":{"inputFile":"={{ $json.result.output_path || $('Start').item.json.output_path }}","outputFile":"={{ $json.result.output_path || $('Start').item.json.output_path }}","recipeName":"SetAttributeBySelector","argumentsUi":{"argumentValues":[{"value":"{\"selector\": \"IfcElement, BIP.TypeID != NULL\", \"attribute\": \"Name\", \"from\": \"BIP.TypeID\"}"},{"value":"{\"selector\": \"IfcElement, BIP.TypeDescription != NULL\", \"attribute\": \"Description\", \"from\": \"BIP.TypeDescription\"}"}]},"timeout":3600,"executionMode":"parallel","versionPinning":{"inputVersionId":"={{ $json.result.version_id || $('Start').item.json.version_id }}"}},"id":"983b3d2e-95ad-46e8-b104-b093bfa25d5d","name":"Sätt Attribute Namn och Desc från BIP-koder","type":"CUSTOM.ifcPatch","position":[5296,1936],"typeVersion":1,"retryOnFail":true,"maxTries":3,"waitBetweenTries":5000,"credentials":{"ifcPipelineApi":{"id":"HegPhb3qE1FTgAYI","name":"IFC Pipeline account"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"7b25a14d-b7bb-403e-b8cf-c0db15dde061","name":"output_path","type":"string","value":"={{ $('Start').item.json.output_path }}"}]},"options":{}},"id":"65e24dea-2056-4e9b-9372-c240af351c10","name":"return","type":"n8n-nodes-base.set","position":[6192,1920],"typeVersion":3.4},{"parameters":{"url":"=https://baserow.byggstyrning.se/api/database/rows/table/1277/?user_field_names=true&size=200&filter__field_12184__equal={{$('Start').item.json.name }}&filter__field_12186__boolean=true&filter__field_12187__single_select_equal=SetColorBySelector","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Token 9If7EUTizwniEr1bZGVpOsQiEqOxARM6"}]},"options":{}},"id":"20e8fca4-28e1-4def-87fd-75def15f4011","name":"Fetch Baserow Color Rules","type":"n8n-nodes-base.httpRequest","position":[3280,2352],"typeVersion":4.2,"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"combinator":"and","conditions":[{"id":"b60cd4e4-61b2-4816-9787-74d6d016c80b","operator":{"type":"number","operation":"gt"},"leftValue":"={{ $json.count }}","rightValue":0}]},"options":{}},"id":"822d4627-07c0-4c8d-91bc-21e6cd4a23f9","name":"Has Color Rules?","type":"n8n-nodes-base.if","position":[3504,2288],"typeVersion":2.2},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const rows = $input.item.json.results || [];\nconst ops = rows\n  .filter(r => r.Active !== false && r.Recept && r.Recept.value === 'SetColorBySelector' && r.selector && r.hex)\n  .map(r => ({ selectors: r.selector, hex: r.hex }));\nreturn {\n  json: {\n    operations_json: JSON.stringify(ops),\n    output_path: $('Start').item.json.output_path,\n    name: $('Start').item.json.name\n  }\n};"},"id":"161ab660-7dd3-42e4-b279-f384e697fb77","name":"Build Color Operations","type":"n8n-nodes-base.code","position":[3728,2192],"typeVersion":2},{"parameters":{"inputFile":"={{ $('Start').item.json.output_path }}","outputFile":"={{ $('Start').item.json.output_path }}","recipeName":"SetColorBySelector","argumentsUi":{"argumentValues":[{"value":"={{ $json.operations_json }}"}]},"pollingInterval":3,"timeout":600,"executionMode":"parallel","versionPinning":{"inputVersionId":"={{ $('Start').item.json.version_id }}"}},"id":"13db0bdd-5319-47f6-bc00-5ead7015e908","name":"Apply Colors (SetColorBySelector)","type":"CUSTOM.ifcPatch","position":[3952,2192],"typeVersion":1,"retryOnFail":true,"maxTries":3,"waitBetweenTries":5000,"credentials":{"ifcPipelineApi":{"id":"HegPhb3qE1FTgAYI","name":"IFC Pipeline account"}},"onError":"continueErrorOutput"},{"parameters":{"workflowId":{"__rl":true,"mode":"list","value":"WrMSITvf95XFs3g6","cachedResultUrl":"/workflow/WrMSITvf95XFs3g6","cachedResultName":"Sharepoint Upload file"},"workflowInputs":{"mappingMode":"defineBelow","value":{"name":"={{ $('Start').item.json.name }}","file_path":"={{ $json.patched_output_path }}","version_id":"={{ $json.patched_output_version_id }}"},"matchingColumns":["file_path"],"schema":[{"id":"file_path","displayName":"file_path","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"version_id","displayName":"version_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"71a8aa57-a6d1-45bd-bd42-ee4dbd4b1064","name":"Upload to Sharepoint StreamBIM","type":"n8n-nodes-base.executeWorkflow","position":[5744,1920],"retryOnFail":true,"typeVersion":1.2,"onError":"continueErrorOutput"},{"parameters":{"workflowId":{"__rl":true,"mode":"list","value":"wVG7yrtD2xHCjvht","cachedResultUrl":"/workflow/wVG7yrtD2xHCjvht","cachedResultName":"Teams Error"},"workflowInputs":{"value":{},"schema":[],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"adb2e520-05de-4aaa-ba22-f385810b18e9","name":"Call 'Teams Error'","type":"n8n-nodes-base.executeWorkflow","position":[5968,2384],"typeVersion":1.3},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"DEQEhiQvhuNQZPjR","cachedResultName":"Nobel — Propagate Spaces Property (Clash → Patch)"},"workflowInputs":{"mappingMode":"defineBelow","value":{"modelA_s3_key":"output/patch/expanded/A1_2b_BIM_XXX_0003_00.ifc","modelB_s3_key":"={{ $json.result.output_key }}","mappings":"[{\"from\":\"BIP Room function programme.Room name\",\"to\":\"BIP.SpaceName\",\"data_type\":\"string\"},{\"from\":\"BIP Room function programme.Room number\",\"to\":\"BIP.SpaceNumber\",\"data_type\":\"string\"}]","output_s3_key":"={{ $json.result.output_path }}","tolerance":0.05,"clash_mode":"intersection","space_selector":"IfcSpace","aggregate":"first","pairs_source_side":"auto","sort_by":"BIP Room function programme.Room number","sort_order":"asc","modelB_s3_version_id":"={{ $json.result.version_id }}","result":"={{ $json.result }}"},"matchingColumns":["modelA_s3_key","modelB_s3_key","mappings","property_from","property_to","output_s3_key","tolerance","clash_mode","space_selector","element_selector","data_type","aggregate","default_value","pairs_source_side","sort_by","sort_order"],"schema":[{"id":"modelA_s3_key","displayName":"modelA_s3_key","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"modelB_s3_key","displayName":"modelB_s3_key","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"mappings","displayName":"mappings","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"property_from","displayName":"property_from","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"property_to","displayName":"property_to","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"output_s3_key","displayName":"output_s3_key","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"tolerance","displayName":"tolerance","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"clash_mode","displayName":"clash_mode","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"space_selector","displayName":"space_selector","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"element_selector","displayName":"element_selector","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"data_type","displayName":"data_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"aggregate","displayName":"aggregate","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"default_value","displayName":"default_value","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"pairs_source_side","displayName":"pairs_source_side","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"sort_by","displayName":"sort_by","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"sort_order","displayName":"sort_order","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"modelB_s3_version_id","displayName":"modelB_s3_version_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"result","displayName":"result","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[5520,1936],"id":"spaces-propagate-call-001","name":"Propagate Spaces Property","notesInFlow":true,"retryOnFail":false,"onError":"continueErrorOutput","notes":"Propagates BIP.SpaceName/SpaceNumber from the EXPANDED spaces IFC onto each\nincoming structural model. Expansion is now a one-shot upstream step in the\nNobel Center DCA Pipeline (lDABv1gGuH02O2sN), which writes to the canonical\nkey output/patch/expanded/A1_2b_BIM_XXX_0003_00.ifc. This node is\nintentionally a single step — it just calls DEQEhiQvhuNQZPjR. Do NOT switch\nback to pcEZrUke5Shj8szI; that workflow is deprecated."},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[5968,1920],"id":"3df3e55d-6075-408b-b77e-e17c2c59cb60","name":"Merge"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[4176,2016],"id":"db65a95c-7ddd-4f2b-824d-21d1e713a31c","name":"Merge1"},{"parameters":{"assignments":{"assignments":[{"id":"7fe54cb1-a9c5-4835-9a29-d277c33a98ef","name":"result.version_id","value":"={{ $('Start').item.json.version_id }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3952,2576],"id":"f24dba0d-cf60-4a6d-ba1a-d6d03ff24b81","name":"Edit Fields"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[5072,1920],"id":"52eeaf26-0566-49dd-9d4b-32645d2dfb77","name":"Merge2"},{"parameters":{"inputFile":"={{ $('Start').item.json.output_path }}","outputFile":"={{ $('Start').item.json.output_path }}","recipeName":"SetPropertyBySelector","argumentsUi":{"argumentValues":[{"value":"{\"selector\": \"IfcElement\", \"property\": \"BIP.Structural\", \"data_type\": \"IfcBoolean\", \"value\": true}"},{"value":"={\n  \"selector\": \"IfcElement\",\n  \"property\": \"BIP.SteelGrade\",\n  \"data_type\": \"IfcLabel\",\n  \"from\": \"material.Name=/S[0-9]{3}[A-Za-z0-9]*/\"\n}"}]},"pollingInterval":1,"executionMode":"parallel","versionPinning":{"inputVersionId":"={{ $json.result.version_id }}"}},"type":"CUSTOM.ifcPatch","typeVersion":1,"position":[4848,1792],"id":"e50fa165-3d3d-4b33-bd0c-d7838bdf50cc","name":"IFC Patch","retryOnFail":true,"credentials":{"ifcPipelineApi":{"id":"HegPhb3qE1FTgAYI","name":"IFC Pipeline account"}},"onError":"continueErrorOutput"},{"parameters":{"inputFile":"={{ $('Start').item.json.output_path }}","outputFile":"={{ $('Start').item.json.output_path.replace(\"MM-Complete-model\", \"SM-Insulation\") }}","recipeName":"RemoveElements","argumentsUi":{"argumentValues":[{"value":"!IfcCovering"}]},"timeout":600,"versionPinning":{"inputVersionId":"={{ $json.result.version_id }}"}},"type":"n8n-nodes-ifcpipeline.ifcPatch","typeVersion":1,"position":[4624,2080],"id":"e2f9804f-89f5-458f-8bb1-71096726cde4","name":"Ta bort !IfcCovering","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"ifcPipelineApi":{"id":"HegPhb3qE1FTgAYI","name":"IFC Pipeline account"}},"onError":"continueErrorOutput"},{"parameters":{"inputFile":"={{ $('Start').item.json.output_path }}","outputFile":"={{ $('Start').item.json.output_path.replace(\"MM-Complete-model\", \"SM-Piping\") }}","recipeName":"RemoveElements","argumentsUi":{"argumentValues":[{"value":"IfcCovering"}]},"timeout":600,"versionPinning":{"inputVersionId":"={{ $json.result.version_id }}"}},"type":"n8n-nodes-ifcpipeline.ifcPatch","typeVersion":1,"position":[4624,2272],"id":"a25aa006-7711-4b23-869b-5e750d61bdab","name":"Ta bort IfcCovering","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"ifcPipelineApi":{"id":"HegPhb3qE1FTgAYI","name":"IFC Pipeline account"}},"onError":"continueErrorOutput"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[4848,2176],"id":"d02d05cf-44c0-457d-83f2-dd819349f1c0","name":"Merge4"}],"connections":{"Start":{"main":[[{"node":"Fetch Baserow Color Rules","type":"main","index":0}]]},"Switch":{"main":[[{"node":"IFC Patch","type":"main","index":0}],[{"node":"Ta bort !IfcCovering","type":"main","index":0},{"node":"Ta bort IfcCovering","type":"main","index":0}],[{"node":"Merge2","type":"main","index":2}]]},"return":{"main":[[]]},"Has Color Rules?":{"main":[[{"node":"Build Color Operations","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Build Color Operations":{"main":[[{"node":"Apply Colors (SetColorBySelector)","type":"main","index":0}]]},"Fetch Baserow Color Rules":{"main":[[{"node":"Has Color Rules?","type":"main","index":0}],[{"node":"Call 'Teams Error'","type":"main","index":0}]]},"Upload to Sharepoint StreamBIM":{"main":[[{"node":"Merge","type":"main","index":0}],[{"node":"Call 'Teams Error'","type":"main","index":0}]]},"Apply Colors (SetColorBySelector)":{"main":[[{"node":"Merge1","type":"main","index":0}],[{"node":"Call 'Teams Error'","type":"main","index":0}]]},"Sätt Attribute Namn och Desc från BIP-koder":{"main":[[{"node":"Propagate Spaces Property","type":"main","index":0}]]},"Propagate Spaces Property":{"main":[[{"node":"Upload to Sharepoint StreamBIM","type":"main","index":0}],[{"node":"Call 'Teams Error'","type":"main","index":0}]]},"Merge":{"main":[[{"node":"return","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Merge2":{"main":[[{"node":"Sätt Attribute Namn och Desc från BIP-koder","type":"main","index":0}]]},"IFC Patch":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Ta bort !IfcCovering":{"main":[[{"node":"Merge4","type":"main","index":0}]]},"Ta bort IfcCovering":{"main":[[{"node":"Merge4","type":"main","index":1}]]},"Merge4":{"main":[[{"node":"Merge2","type":"main","index":1}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"wVG7yrtD2xHCjvht","timeSavedMode":"fixed","binaryMode":"separate","saveDataSuccessExecution":"all","saveExecutionProgress":true},"staticData":{},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Start":[{"json":{"output_path":"s3://ifcpipeline/uploads/S2-200-MM-MASTER-MODEL.ifc","name":"S2-200-MM-MASTER MODEL.ifc","dedupe_mode":null,"dry_run":null,"files":null,"object_keys":null,"use_database":null,"verbose":null,"version_id":"0315f0a6-1bd7-4ab3-b7b7-5c0bc19e6c99"},"pairedItem":{"item":0}}]},"versionId":"f79a4f4f-de2f-4883-84fc-0d5801db1775","activeVersionId":"f79a4f4f-de2f-4883-84fc-0d5801db1775","versionCounter":1024,"triggerCount":0,"shared":[{"updatedAt":"2025-10-27T12:18:51.308Z","createdAt":"2025-10-27T12:18:51.308Z","role":"workflow:owner","workflowId":"AzKJShD4IzSeKkso","projectId":"GzqzJbGJYB82REo0","project":{"updatedAt":"2026-05-12T05:02:21.544Z","createdAt":"2024-09-11T10:51:49.985Z","id":"GzqzJbGJYB82REo0","name":"Jonatan Jacobsson <jonatan.jacobsson@byggstyrning.se>","type":"personal","icon":null,"description":null,"creatorId":"89796f97-0734-44e2-af42-6fdab3dde381"}}],"tags":[{"updatedAt":"2026-05-07T06:23:18.399Z","createdAt":"2026-05-07T06:23:18.399Z","id":"atESms4hrj3oV5qA","name":"portfolio/Stacks/IFCP"}],"activeVersion":{"updatedAt":"2026-05-29T10:24:29.563Z","createdAt":"2026-05-29T10:24:29.563Z","versionId":"f79a4f4f-de2f-4883-84fc-0d5801db1775","workflowId":"AzKJShD4IzSeKkso","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"output_path"},{"name":"name"},{"name":"dedupe_mode"},{"name":"dry_run"},{"name":"files"},{"name":"object_keys"},{"name":"use_database"},{"name":"verbose"},{"name":"version_id"}]}},"id":"3141cbb2-273c-4fdf-9737-d164ad7511b6","name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[3056,2352],"typeVersion":1.1},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"db4311d6-6316-480f-803f-f593a41cb528","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $('Start').item.json.name.startsWith(\"S2\") }}","rightValue":""}],"combinator":"and"},"renameOutput":true,"outputKey":"S2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"f57a48e0-ff6c-4f27-99ef-349f46e20370","leftValue":"={{ $('Start').item.json.name.startsWith(\"P1-500-MM-Complete model\") }}","rightValue":"P1-500-MM-Complete model.ifc","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"P1-500-MM-Complete model"}]},"looseTypeValidation":true,"options":{"fallbackOutput":"extra"}},"id":"ac4bc243-2105-4dd8-af02-4cde95dba03d","name":"Switch","type":"n8n-nodes-base.switch","position":[4400,2000],"typeVersion":3.3},{"parameters":{"inputFile":"={{ $json.result.output_path || $('Start').item.json.output_path }}","outputFile":"={{ $json.result.output_path || $('Start').item.json.output_path }}","recipeName":"SetAttributeBySelector","argumentsUi":{"argumentValues":[{"value":"{\"selector\": \"IfcElement, BIP.TypeID != NULL\", \"attribute\": \"Name\", \"from\": \"BIP.TypeID\"}"},{"value":"{\"selector\": \"IfcElement, BIP.TypeDescription != NULL\", \"attribute\": \"Description\", \"from\": \"BIP.TypeDescription\"}"}]},"timeout":3600,"executionMode":"parallel","versionPinning":{"inputVersionId":"={{ $json.result.version_id || $('Start').item.json.version_id }}"}},"id":"983b3d2e-95ad-46e8-b104-b093bfa25d5d","name":"Sätt Attribute Namn och Desc från BIP-koder","type":"CUSTOM.ifcPatch","position":[5296,1936],"typeVersion":1,"retryOnFail":true,"maxTries":3,"waitBetweenTries":5000,"credentials":{"ifcPipelineApi":{"id":"HegPhb3qE1FTgAYI","name":"IFC Pipeline account"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"7b25a14d-b7bb-403e-b8cf-c0db15dde061","name":"output_path","type":"string","value":"={{ $('Start').item.json.output_path }}"}]},"options":{}},"id":"65e24dea-2056-4e9b-9372-c240af351c10","name":"return","type":"n8n-nodes-base.set","position":[6192,1920],"typeVersion":3.4},{"parameters":{"url":"=https://baserow.byggstyrning.se/api/database/rows/table/1277/?user_field_names=true&size=200&filter__field_12184__equal={{$('Start').item.json.name }}&filter__field_12186__boolean=true&filter__field_12187__single_select_equal=SetColorBySelector","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Token 9If7EUTizwniEr1bZGVpOsQiEqOxARM6"}]},"options":{}},"id":"20e8fca4-28e1-4def-87fd-75def15f4011","name":"Fetch Baserow Color Rules","type":"n8n-nodes-base.httpRequest","position":[3280,2352],"typeVersion":4.2,"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"combinator":"and","conditions":[{"id":"b60cd4e4-61b2-4816-9787-74d6d016c80b","operator":{"type":"number","operation":"gt"},"leftValue":"={{ $json.count }}","rightValue":0}]},"options":{}},"id":"822d4627-07c0-4c8d-91bc-21e6cd4a23f9","name":"Has Color Rules?","type":"n8n-nodes-base.if","position":[3504,2288],"typeVersion":2.2},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const rows = $input.item.json.results || [];\nconst ops = rows\n  .filter(r => r.Active !== false && r.Recept && r.Recept.value === 'SetColorBySelector' && r.selector && r.hex)\n  .map(r => ({ selectors: r.selector, hex: r.hex }));\nreturn {\n  json: {\n    operations_json: JSON.stringify(ops),\n    output_path: $('Start').item.json.output_path,\n    name: $('Start').item.json.name\n  }\n};"},"id":"161ab660-7dd3-42e4-b279-f384e697fb77","name":"Build Color Operations","type":"n8n-nodes-base.code","position":[3728,2192],"typeVersion":2},{"parameters":{"inputFile":"={{ $('Start').item.json.output_path }}","outputFile":"={{ $('Start').item.json.output_path }}","recipeName":"SetColorBySelector","argumentsUi":{"argumentValues":[{"value":"={{ $json.operations_json }}"}]},"pollingInterval":3,"timeout":600,"executionMode":"parallel","versionPinning":{"inputVersionId":"={{ $('Start').item.json.version_id }}"}},"id":"13db0bdd-5319-47f6-bc00-5ead7015e908","name":"Apply Colors (SetColorBySelector)","type":"CUSTOM.ifcPatch","position":[3952,2192],"typeVersion":1,"retryOnFail":true,"maxTries":3,"waitBetweenTries":5000,"credentials":{"ifcPipelineApi":{"id":"HegPhb3qE1FTgAYI","name":"IFC Pipeline account"}},"onError":"continueErrorOutput"},{"parameters":{"workflowId":{"__rl":true,"mode":"list","value":"WrMSITvf95XFs3g6","cachedResultUrl":"/workflow/WrMSITvf95XFs3g6","cachedResultName":"Sharepoint Upload file"},"workflowInputs":{"mappingMode":"defineBelow","value":{"name":"={{ $('Start').item.json.name }}","file_path":"={{ $json.patched_output_path }}","version_id":"={{ $json.patched_output_version_id }}"},"matchingColumns":["file_path"],"schema":[{"id":"file_path","displayName":"file_path","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"version_id","displayName":"version_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"71a8aa57-a6d1-45bd-bd42-ee4dbd4b1064","name":"Upload to Sharepoint StreamBIM","type":"n8n-nodes-base.executeWorkflow","position":[5744,1920],"retryOnFail":true,"typeVersion":1.2,"onError":"continueErrorOutput"},{"parameters":{"workflowId":{"__rl":true,"mode":"list","value":"wVG7yrtD2xHCjvht","cachedResultUrl":"/workflow/wVG7yrtD2xHCjvht","cachedResultName":"Teams Error"},"workflowInputs":{"value":{},"schema":[],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"adb2e520-05de-4aaa-ba22-f385810b18e9","name":"Call 'Teams Error'","type":"n8n-nodes-base.executeWorkflow","position":[5968,2384],"typeVersion":1.3},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"DEQEhiQvhuNQZPjR","cachedResultName":"Nobel — Propagate Spaces Property (Clash → Patch)"},"workflowInputs":{"mappingMode":"defineBelow","value":{"modelA_s3_key":"output/patch/expanded/A1_2b_BIM_XXX_0003_00.ifc","modelB_s3_key":"={{ $json.result.output_key }}","mappings":"[{\"from\":\"BIP Room function programme.Room name\",\"to\":\"BIP.SpaceName\",\"data_type\":\"string\"},{\"from\":\"BIP Room function programme.Room number\",\"to\":\"BIP.SpaceNumber\",\"data_type\":\"string\"}]","output_s3_key":"={{ $json.result.output_path }}","tolerance":0.05,"clash_mode":"intersection","space_selector":"IfcSpace","aggregate":"first","pairs_source_side":"auto","sort_by":"BIP Room function programme.Room number","sort_order":"asc","modelB_s3_version_id":"={{ $json.result.version_id }}","result":"={{ $json.result }}"},"matchingColumns":["modelA_s3_key","modelB_s3_key","mappings","property_from","property_to","output_s3_key","tolerance","clash_mode","space_selector","element_selector","data_type","aggregate","default_value","pairs_source_side","sort_by","sort_order"],"schema":[{"id":"modelA_s3_key","displayName":"modelA_s3_key","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"modelB_s3_key","displayName":"modelB_s3_key","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"mappings","displayName":"mappings","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"property_from","displayName":"property_from","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"property_to","displayName":"property_to","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"output_s3_key","displayName":"output_s3_key","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"tolerance","displayName":"tolerance","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"clash_mode","displayName":"clash_mode","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"space_selector","displayName":"space_selector","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"element_selector","displayName":"element_selector","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"data_type","displayName":"data_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"aggregate","displayName":"aggregate","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"default_value","displayName":"default_value","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"pairs_source_side","displayName":"pairs_source_side","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"sort_by","displayName":"sort_by","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"sort_order","displayName":"sort_order","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"modelB_s3_version_id","displayName":"modelB_s3_version_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"result","displayName":"result","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[5520,1936],"id":"spaces-propagate-call-001","name":"Propagate Spaces Property","notesInFlow":true,"retryOnFail":false,"onError":"continueErrorOutput","notes":"Propagates BIP.SpaceName/SpaceNumber from the EXPANDED spaces IFC onto each\nincoming structural model. Expansion is now a one-shot upstream step in the\nNobel Center DCA Pipeline (lDABv1gGuH02O2sN), which writes to the canonical\nkey output/patch/expanded/A1_2b_BIM_XXX_0003_00.ifc. This node is\nintentionally a single step — it just calls DEQEhiQvhuNQZPjR. Do NOT switch\nback to pcEZrUke5Shj8szI; that workflow is deprecated."},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[5968,1920],"id":"3df3e55d-6075-408b-b77e-e17c2c59cb60","name":"Merge"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[4176,2016],"id":"db65a95c-7ddd-4f2b-824d-21d1e713a31c","name":"Merge1"},{"parameters":{"assignments":{"assignments":[{"id":"7fe54cb1-a9c5-4835-9a29-d277c33a98ef","name":"result.version_id","value":"={{ $('Start').item.json.version_id }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3952,2576],"id":"f24dba0d-cf60-4a6d-ba1a-d6d03ff24b81","name":"Edit Fields"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[5072,1920],"id":"52eeaf26-0566-49dd-9d4b-32645d2dfb77","name":"Merge2"},{"parameters":{"inputFile":"={{ $('Start').item.json.output_path }}","outputFile":"={{ $('Start').item.json.output_path }}","recipeName":"SetPropertyBySelector","argumentsUi":{"argumentValues":[{"value":"{\"selector\": \"IfcElement\", \"property\": \"BIP.Structural\", \"data_type\": \"IfcBoolean\", \"value\": true}"},{"value":"={\n  \"selector\": \"IfcElement\",\n  \"property\": \"BIP.SteelGrade\",\n  \"data_type\": \"IfcLabel\",\n  \"from\": \"material.Name=/S[0-9]{3}[A-Za-z0-9]*/\"\n}"}]},"pollingInterval":1,"executionMode":"parallel","versionPinning":{"inputVersionId":"={{ $json.result.version_id }}"}},"type":"CUSTOM.ifcPatch","typeVersion":1,"position":[4848,1792],"id":"e50fa165-3d3d-4b33-bd0c-d7838bdf50cc","name":"IFC Patch","retryOnFail":true,"credentials":{"ifcPipelineApi":{"id":"HegPhb3qE1FTgAYI","name":"IFC Pipeline account"}},"onError":"continueErrorOutput"},{"parameters":{"inputFile":"={{ $('Start').item.json.output_path }}","outputFile":"={{ $('Start').item.json.output_path.replace(\"MM-Complete-model\", \"SM-Insulation\") }}","recipeName":"RemoveElements","argumentsUi":{"argumentValues":[{"value":"!IfcCovering"}]},"timeout":600,"versionPinning":{"inputVersionId":"={{ $json.result.version_id }}"}},"type":"n8n-nodes-ifcpipeline.ifcPatch","typeVersion":1,"position":[4624,2080],"id":"e2f9804f-89f5-458f-8bb1-71096726cde4","name":"Ta bort !IfcCovering","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"ifcPipelineApi":{"id":"HegPhb3qE1FTgAYI","name":"IFC Pipeline account"}},"onError":"continueErrorOutput"},{"parameters":{"inputFile":"={{ $('Start').item.json.output_path }}","outputFile":"={{ $('Start').item.json.output_path.replace(\"MM-Complete-model\", \"SM-Piping\") }}","recipeName":"RemoveElements","argumentsUi":{"argumentValues":[{"value":"IfcCovering"}]},"timeout":600,"versionPinning":{"inputVersionId":"={{ $json.result.version_id }}"}},"type":"n8n-nodes-ifcpipeline.ifcPatch","typeVersion":1,"position":[4624,2272],"id":"a25aa006-7711-4b23-869b-5e750d61bdab","name":"Ta bort IfcCovering","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"ifcPipelineApi":{"id":"HegPhb3qE1FTgAYI","name":"IFC Pipeline account"}},"onError":"continueErrorOutput"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[4848,2176],"id":"d02d05cf-44c0-457d-83f2-dd819349f1c0","name":"Merge4"}],"connections":{"Start":{"main":[[{"node":"Fetch Baserow Color Rules","type":"main","index":0}]]},"Switch":{"main":[[{"node":"IFC Patch","type":"main","index":0}],[{"node":"Ta bort !IfcCovering","type":"main","index":0},{"node":"Ta bort IfcCovering","type":"main","index":0}],[{"node":"Merge2","type":"main","index":2}]]},"return":{"main":[[]]},"Has Color Rules?":{"main":[[{"node":"Build Color Operations","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Build Color Operations":{"main":[[{"node":"Apply Colors (SetColorBySelector)","type":"main","index":0}]]},"Fetch Baserow Color Rules":{"main":[[{"node":"Has Color Rules?","type":"main","index":0}],[{"node":"Call 'Teams Error'","type":"main","index":0}]]},"Upload to Sharepoint StreamBIM":{"main":[[{"node":"Merge","type":"main","index":0}],[{"node":"Call 'Teams Error'","type":"main","index":0}]]},"Apply Colors (SetColorBySelector)":{"main":[[{"node":"Merge1","type":"main","index":0}],[{"node":"Call 'Teams Error'","type":"main","index":0}]]},"Sätt Attribute Namn och Desc från BIP-koder":{"main":[[{"node":"Propagate Spaces Property","type":"main","index":0}]]},"Propagate Spaces Property":{"main":[[{"node":"Upload to Sharepoint StreamBIM","type":"main","index":0}],[{"node":"Call 'Teams Error'","type":"main","index":0}]]},"Merge":{"main":[[{"node":"return","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Merge2":{"main":[[{"node":"Sätt Attribute Namn och Desc från BIP-koder","type":"main","index":0}]]},"IFC Patch":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Ta bort !IfcCovering":{"main":[[{"node":"Merge4","type":"main","index":0}]]},"Ta bort IfcCovering":{"main":[[{"node":"Merge4","type":"main","index":1}]]},"Merge4":{"main":[[{"node":"Merge2","type":"main","index":1}]]}},"authors":"Jonatan Jacobsson","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-05-29T10:24:29.604Z","id":1541,"workflowId":"AzKJShD4IzSeKkso","versionId":"f79a4f4f-de2f-4883-84fc-0d5801db1775","event":"deactivated","userId":"89796f97-0734-44e2-af42-6fdab3dde381"},{"createdAt":"2026-05-29T10:24:29.615Z","id":1542,"workflowId":"AzKJShD4IzSeKkso","versionId":"f79a4f4f-de2f-4883-84fc-0d5801db1775","event":"activated","userId":"89796f97-0734-44e2-af42-6fdab3dde381"}]}}